<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Importer Bank | Recieve Ether
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- favicon
		============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="/stylesheets/cssfirm/img/favicon.ico">
  <!-- Google Fonts
		============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/bootstrap.min.css">
  <!-- Bootstrap CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/font-awesome.min.css">
  <!-- nalika Icon CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/nalika-icon.css">
  <!-- owl.carousel CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/owl.carousel.css">
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/owl.theme.css">
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/owl.transitions.css">
  <!-- animate CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/animate.css">
  <!-- normalize CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/normalize.css">
  <!-- meanmenu icon CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/meanmenu.min.css">
  <!-- main CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/main.css">
  <!-- morrisjs CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/morrisjs/morris.css">
  <!-- mCustomScrollbar CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/scrollbar/jquery.mCustomScrollbar.min.css">
  <!-- metisMenu CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/metisMenu/metisMenu.min.css">
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/metisMenu/metisMenu-vertical.css">
  <!-- calendar CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/calendar/fullcalendar.min.css">
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/calendar/fullcalendar.print.min.css">
  <!-- style CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/style.css">
  <!-- responsive CSS
		============================================ -->
  <link rel="stylesheet" href="/stylesheets/cssfirm/css/responsive.css">
  <!-- modernizr /stylesheets/js
		============================================ -->
  <script src="/stylesheets/cssfirm/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <div class="left-sidebar-pro">
    <nav id="sidebar" class="">
      <div class="row">
        <div class="col-md-5 form-group text-center"> </div>
      </div>
      <div class="row">
        <div class="col-md-5 form-group text-center"> </div>
      </div>
      <div class="sidebar-header">
        <h3>Importer's Bank</h3>
      </div>
      <div class="nalika-profile">


      </div>
      <div class="left-custom-menu-adp-wrap comment-scrollbar">
        <nav class="sidebar-nav left-sidebar-menu-pro">
          <ul class="metismenu" id="menu1">
            <li>
              <a class="has-arrow" href="" aria-expanded="false"><i class="icon nalika-forms icon-wrap"></i> <span
                  class="mini-click-non">Letter Of Credit</span></a>
              <ul class="submenu-angle" aria-expanded="false">
                <li><a title="Confirm receival" href="/bank/b_ImpViewLC"><span class="mini-sub-pro">View
                      L/C</span></a></li>
                <li><a title="Confirm receival" href="/bank/b_ImpApproveLC"><span class="mini-sub-pro">Approve
                      L/C</span></a></li>
              </ul>
            </li>

            <li class="active">
              <a class="has-arrow" href="" aria-expanded="false"><i class="icon nalika-diamond icon-wrap"></i> <span
                  class="mini-click-non">Payments</span></a>
              <ul class="submenu-angle" aria-expanded="false">
                <li><a title="Confirm receival" href="/bank/b_ImpSendEther"><span class="mini-sub-pro">Send
                      Ether</span></a></li>
                <li><a title="Confirm receival" href="/bank/b_ImpReceiveEther"><span class="mini-sub-pro">Receive
                      Ether</span></a></li>
              </ul>
            </li>


            <li>
              <a class="has-arrow" href="" aria-expanded="false"><i class="icon nalika-table icon-wrap"></i> <span
                  class="mini-click-non">Order Details</span></a>
              <ul class="submenu-angle" aria-expanded="false">
                <li><a title="Product Details" href="/bank/b_ImpProductDetails"><span class="mini-sub-pro">Product
                      Details</span></a></li>
                <li><a title="Order Details" href="/bank/b_ImpOrderDetails"><span class="mini-sub-pro">Order
                      Updates</span></a></li>
              </ul>
            </li>

            <li>
              <a class="has-arrow" href="" aria-expanded="false"><i class="icon nalika-diamond icon-wrap"></i> <span
                  class="mini-click-non">Balance</span></a>
              <ul class="submenu-angle" aria-expanded="false">

                <li><a title="Confirm receival" href="/bank/b_ImpViewBalance"><span class="mini-sub-pro">View
                      Balance</span></a></li>
              </ul>
            </li>

          </ul>
        </nav>
      </div>
    </nav>
  </div>
  <!-- Start Welcome area -->
  <div class="all-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
      </div>
    </div>
    <div class="header-advance-area">
      <div class="header-top-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="header-top-wraper">
                <div class="row">
                  <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                    <div class="menu-switcher-pro">
                      <button type="button" id="sidebarCollapse"
                        class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                        <i class="icon nalika-menu-task"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="header-right-info">
                      <ul class="nav navbar-nav mai-top-nav header-right-menu">
                        <li class="nav-item">
                          <a class="nav-link" rel="tooltip" title="HOME" data-placement="bottom" href="/indexx1"
                            target="_blank">HOME</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" rel="tooltip" title="ABOUT" data-placement="bottom" href="/about"
                            target="_blank">ABOUT</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" rel="tooltip" title="CONTACT" data-placement="bottom" href="/contact"
                            target="_blank">CONTACT</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcome-area">
    <div class="container-fluid">
      <div class="row">

      </div>
    </div>
  </div>
  </div>
  <!-- dual list Start -->
  <div class="dual-list-box-area mg-tb-15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="">


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dual-list-box-area mg-tb-15">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="">


          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" style="padding-left:150px">
    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="">
          <br>
          <br><br><br>
          <div class="sparkline12-hd">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center main-sparkline12-hd">
              <h1 style="padding-left:200px;padding-top:50px;padding-bottom:50px">Enter the Product Id and Amount To
                Receive Amount</h1>
            </div>
          </div><br>
          <form action="/bank/b_ImpReceiveEther1" method="POST">
            <div ng-app="" class="sparkline12-graph ">

              <br><br><br>
              <div class="form-group-inner input-with-warning">

                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="login2 pull-right pull-right-pro">Product Id : </label>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <input name="_id" type="text" class="form-control" style="color: white" />
                  </div>
                </div>
                <br>
                <div class="form-group-inner input-with-warning">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                      <label class="login2 pull-right pull-right-pro">Amount : </label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                      <input name="_amount" type="number" class="form-control" style="color: white" />
                    </div>
                  </div>
                  <br>
                  <br><br><br>
                  <div class="row">
                    <div class="col-md-3 form-group text-center"> </div>
                    <div class="col-md-2 form-group text-center">

                    </div>
                    <div class="col-md-4 form-group text-center " style="padding-left:55px">

                      <input id="invoice" type="submit" class="btn  btn-light btn-block" value="Receive Ether">
                    </div>
                    <div class="col-md-2 form-group text-center">

                    </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  
  <!-- jquery
		============================================ -->
  <script src="/stylesheets/cssfirm/js/vendor/jquery-1.12.4.min.js"></script>
  <!-- bootstrap JS
		============================================ -->
  <script src="/stylesheets/cssfirm/js/bootstrap.min.js"></script>


  <!-- meanmenu JS
		============================================ -->
  <script src="/stylesheets/cssfirm/js/jquery.meanmenu.js"></script>
  <!-- owl.carousel JS
		============================================ -->
  <script src="/stylesheets/cssfirm/js/owl.carousel.min.js"></script>
  <!-- sticky JS
		============================================ -->
  <script src="/stylesheets/cssfirm/js/jquery.sticky.js"></script>
  <!-- scrollUp JS
		============================================ -->
  <script src="/stylesheets/cssfirm/js/jquery.scrollUp.min.js"></script>

  <!-- metisMenu JS
		============================================ -->
  <script src="/stylesheets/cssfirm/js/metisMenu/metisMenu.min.js"></script>
  <script src="/stylesheets/cssfirm/js/metisMenu/metisMenu-active.js"></script>



  <!-- plugins JS
		============================================ -->
  <script src="/stylesheets/cssfirm/js/plugins.js"></script>
  <!-- main JS
		============================================ -->
  <script src="/stylesheets/cssfirm/js/main.js"></script>
</body>

</html>