<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Innova 
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
  <link href="/stylesheets/paper-kit.css?v=2.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/stylesheets/demo.css" rel="stylesheet" />
</head>

<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/paper-kit/index.html" rel="tooltip"
          title="Coded by Creative Tim" data-placement="bottom" target="_blank">
          INNOVA
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="HOME" data-placement="bottom" href="/indexx1" target="_blank">
              HOME
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="ABOUT" data-placement="bottom" href="/about" target="_blank">
              ABOUT
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="CONTACT" data-placement="bottom" href="/contact" target="_blank">
              CONTACT
            </a>
          </li>
          <!--
          <li class="nav-item">
             <a href="https://www.creative-tim.com/product/paper-kit-2-pro?ref=pk2-free-local" target="_blank" class="btn btn-danger btn-round">LOGIN IN</a>
           </li>
           -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="page-header section-dark" style="background-image: url('/images/firm.jpg')">
    <div class="filter"></div>
    <div class="content-center" style="width: 700px">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">INNOVA</h1>
          <div class="moving-clouds" style="background-image: url('/images/clouds.png'); "></div>
        </div>
        <h1 class="presentation-subtitle text-center">An International Trade Blockchain Platform </h1>
      </div>
      <div class="row">
        <div class="col-md-4 form-group text-center">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group text-center">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group text-center">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group text-center">
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 form-group text-center" style="margin-left: 230px;">
          <form action="/indexx" method="POST"> <input type="submit"
              class="btn btn-light btn-outline-primary btn-block btn-round" value="Start">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group text-center">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group text-center">
        </div>
      </div>



    </div>

  </div>
</body>

</html>